

.addForm{
    min-width: 500px;
    min-height: 500px;
    background-color: #DFEAF4;
    display: grid;
    grid-template-columns: repeat(2, 250px);
    grid-auto-rows: min-content;
    gap: 20px;
    border-radius: 20px;
    padding: 40px;
}
.inputForm{
    height: 50px;
    border-radius: 20px;
    border: none;
    padding: 0 20px;
    box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.1);
}

.first{
    grid-column: 1/3;
}

.check{
    width: 20px;
    height: 20px;
    border-top-left-radius: 20px;
    /* grid-column: 1/3; */
    /* margin-left: 125px; */
    /* display: flex; */
    /* align-items: center; */
    color: var(--secondary-color);
}

.btn-submit{
    grid-column: 2/3;
    justify-self: end;
    width: 150px;
    font-size: 22px;
}
.paymentBox{
    grid-column: 1/3;
    display: flex;
    justify-content: space-between;
}
.selectmulti{
    /* background-color: #999; */
    border: none;
    /* min-height: 50px; */
    padding: 5px 0;
    color: #000;
}
.selectmulti::placeholder{
    color: #000;
}
/* .multiSelect{
    width: 200px;
    display: block;
} */
